body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

#main-content {
    text-align: center;
    padding: 2em;
}

#contato {
    background-color: #f2f2f2;
    padding: 2em;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    box-sizing: border-box;
}


#planos {
    background-color: #f9f9f9;
    padding: 30px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url('images/fundo.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.plan-option {
    max-width: 300px;
    margin: 0 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    flex: 1;
}

.btn-plan {
    display: inline-block;
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}


#contato form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contato label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

#contato input,
#contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contato textarea {
    resize: vertical;
}

#contato input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contato input[type="submit"]:hover {
    background-color: #45a049;
}

